RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]

RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_URI} .*\.(data|js|wasm)
RewriteCond %{REQUEST_FILENAME}\.br -f
RewriteRule ^(.+) $1.br
RewriteRule "\.data\.br$" "-" [T=application/octet-stream,E=no-brotli,E=no-gzip]
RewriteRule "\.js\.br$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]
RewriteRule "\.wasm\.br$" "-" [T=application/wasm,E=no-brotli,E=no-gzip]

<FilesMatch ".+\.br$">
        Header set Content-Encoding br
        Header append Vary Accept-Encoding
</FilesMatch>
